body {
  /* background-color: rgba(231, 231, 231, 0.938); */
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.gallery {
  background-color: rgba(231, 231, 231, 0.938);
  width: 100vw;
  height: 84vh;
  margin: 6px 0;
  padding: 0 200px;
}

.gallery img {
  transition: 1s;
  padding: 30px;
  width: 200 px;
  border-radius: 25px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
